.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar li {
  padding: 10px;
}

.navbar a {
  text-decoration: none;
}

.links {
  background-image: url("./images/dev-wallpaper.jpg");
}

.links h2 {
  color: white;
  text-align: center;
  padding: 40px;
}

.langs-bg {
  background-image: url("./images/prog-lang.webp");
}

.langs-bg h2 {
  color: white;
  padding: 40px;
  text-align: center;
}
