.accountSubmenu {
  ul {
    list-style: none;
    display: flex;
    margin: 5px;
    padding: 10px;

    li {
      margin: 5px;
      width: 15vw;
      height: 5vh;
      padding: 15px;
      box-shadow: 1px 1px 2px black;
      transition: 0.3s ease-out;
      color: blue;
      text-align: center;
      &:hover {
        background-color: lightblue;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
      }
    }
  }
}
