.reg {
  padding: 20px;
  display: flex;
  justify-content: center;
  .inputsCon {
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  .error {
    color: red;
    font-style: italic;
  }
  .btnCon {
    display: flex;
    justify-content: center;
    input {
      padding: 10px;
      margin: 10px;
      width: 15vw;
      font-weight: bold;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: grey;
        color: white;
        letter-spacing: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
