* {
  margin: 0%;
  padding: 10px;

  body {
    .title {
      text-align: center;
      width: 99%;
      background-color: aqua;
      h1 {
        font-size: 5vh;
      }
      h6 {
        margin-top: -15px;
      }
    }

    .lab-con {
      .tasks-con {
        ul {
          list-style: none;

          a {
            color: white;
            text-decoration: none;
            li {
              background-color: rgb(38, 83, 98);
              padding: 20px;
              margin: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
