* {
  margin: 0%;
  padding: 10px;

  body {
    .title {
      text-align: center;
      width: 99%;
      background-color: aqua;
      h1 {
        font-size: 5vh;
      }
      h6 {
        margin-top: -15px;
      }
    }

    .landing {
      display: flex;
      .details-con {
        .details-card {
          box-shadow: 2px 2px 5px;
          border-radius: 30px;
          text-align: center;
          img {
            // height: 65%;
            width: 95%;
            height: auto;
            border-radius: 50px;
          }
        }
      }

      .lab-con {
        width: 100%;
        #lTitle {
          margin-left: 20px;
        }
        .tasks-con {
          ul {
            list-style: none;

            a {
              color: white;
              text-decoration: none;
              li {
                background-color: rgb(38, 83, 98);
                padding: 20px;
                margin: 10px;
                text-align: center;
                transition: 0.3s ease-in-out;
                &:hover {
                  background-color: rgb(31, 120, 140);
                  box-shadow: 2px 2px 4px grey;
                }
              }
            }
          }
        }
      }
    }
  }
}
